@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* resets */

* {
  font-family: 'Poppins', sans-serif;
}

@layer base {
  a {
    @apply cursor-pointer ; 
  }
  h1 {
    @apply text-[50px] font-bold; 
  }
  h2 {
    @apply text-[2.5rem] font-bold ; 
  }
  p {
    @apply text-[1.25rem] ; 
  }
  h3 {
    @apply text-[1.5625rem] font-bold  ;
    letter-spacing: 0.34rem; 
  }
}

/* navbar style */

@layer components {
  .link {
    @apply relative hover:after:content-[''] hover:after:block hover:after:w-full hover:after:h-[3px] hover:after:bg-black hover:after:absolute hover:after:top-[100%] hover:after:left-[0%] hover:-translate-y-[10%] duration-300 ease-in-out transition-transform ; 
  }
  .hovered {
    @apply relative after:content-[''] text-accent after:block after:w-full after:h-[3px] after:bg-accent after:absolute after:top-[100%] after:left-[0%]  ; 
  }
  .box-shadow {
    box-shadow: 0px -17px 72px #C2C2C2;
  }
}



/* hero section */

.yellow-gradient {
  background: linear-gradient(180deg, #FFC558 0%, #EB8C57 100%);
  border-radius: 208px 208px 0px 0px;
}



/* programs section */
.clippoly {
  width: 175px; 
  aspect-ratio: 1/1;
  bottom: -24%;
  top: unset;
  right: unset; 
  left: -5%;
  clip-path: path('M36.1909 6.66564C47.4065 -1.48297 62.5935 -1.48298 73.8091 6.66563L107.52 31.1581C118.736 39.3067 123.429 53.7505 119.145 66.9352L106.268 106.565C101.984 119.75 89.6978 128.676 75.8345 128.676H34.1655C20.3022 128.676 8.01564 119.75 3.73166 106.565L-9.14478 66.9352C-13.4288 53.7505 -8.73571 39.3067 2.47989 31.1581L36.1909 6.66564Z');
}

/* Signin page*/
.form-input {
  @apply flex justify-between items-center bg-white py-2 px-2 rounded-md border align-middle mt-1 shadow border-gray-300;
}

.form-input-error {
  @apply flex justify-between items-center bg-white py-2 px-2 rounded-md border align-middle mt-1 shadow border-red-500;
}

.select-input {
  @apply flex justify-between items-center bg-white h-full w-full rounded-md border align-middle mt-1 shadow border-gray-300;
}

.select-input-error {
  @apply flex justify-between items-center bg-white h-2 w-2 rounded-md border align-middle mt-1 shadow border-red-500;
}